@import url('https://fonts.googleapis.com/css?family=VT323');

* {
    font-family: 'VT323', monospace;
    color: white;
}

body {
    background-color: black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logo {
    margin: auto;
    display: block;
    width: 25%;
    height: auto;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#logo:hover {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#name {
    width: 25%;
    text-align: center;
    font-size: 80pt;
    display: block;
    margin: auto;
}

.button {
    width: 25%;
    text-align: center;
    font-size: 40pt;
    display: block;
    margin: 40px auto;
    text-decoration: none;
    text-underline: none;
    visibility: hidden;
}

.button:hover {
    font-size: 60pt;
}

footer {
    text-align: center;
    color: black;
    position: fixed;
    left: 15%;
    right: 15%;
    bottom: 0;
}